body {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
img {
  user-select: none;
}

/* Title */

header {
  margin-top: 2vh;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fffa;
  border-radius: 15px;
  padding: 0% 10%;
  max-height: 17.5vh;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3em;
  font-weight: 900;
  min-width: 15%;
}
#h-score,
#c-score {
  min-height: 1.3em;
  font-size: 1.3em;
  margin-top: 0%;
}

#dev {
  font-weight: 550;
  font-size: 1.2em;
}

h1{
  font-size: 2.2em;
  margin-top: 5%;
}
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-item:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
#nav {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: left;
}

/* Background setup */

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}



.background {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100%;
  height: 88%;
  object-fit: fill;
  overflow: hidden;
  left: 0vw;
  top: 0vh;
}

#background-image {
  min-height: 100%;
  width: 100%;
}
/**** bird + tube container ****/
#game-items {
  position: sticky;
  max-width: 100vw;
  height: 68.2vh;
  overflow: hidden;
}

/** game msg **/

#winning-msg {
  background-color: #fff3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 65vh;
  text-align: center;
  left: 35vw;
  bottom: 15vh;
  border-radius: 15px;
  
}

#msg {
  font-weight: 900;
  font-size: 1.8em;
}
#msg-2,
#msg-3,
#msg-4 {
  font-weight: 550;
  font-size: 1.2em;
  padding: 0em 2em;
}

#go {
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 550;
  box-shadow: 0px 2px 3px;
  border-radius: 50%;
  padding: 2%;
  background: rgb(54,157,248);
  background: linear-gradient(0deg, #6D96C5 0%, #B0D6FC 100%);
}
/*** background picture anchor tag link ***/
#attribute {
  text-decoration: none;
  color: #fff9;
  position: absolute;
  left: .5%;
  bottom: .5vh;
  z-index: 1;
}

footer {
  min-width: 100vw;
  height: 15vh;
  overflow-x: hidden;
  z-index: -1;
}

#floor {
  position: absolute;
  min-height: 15%;
  width: 110%;
  right: -2%;
  overflow: hidden;
  z-index: -1;
}

/***  Screen Size Adjustments  ***/
@media only screen and (max-width: 1080px) {
  header{
      margin-top: 2vh;
  }
  #winning-msg {
      height: 55vh;
      bottom: 20vh;
  }
  #go {
      margin-bottom: 7%;
  }
  #msg-2,
  #msg-3,
  #msg-4,
  #go,
  #dev {
      font-size: 1.1em;
  }
  .score {
      font-size: 1.3em;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5%;
  }
  #h-score,
  #c-score {
      min-height: 1.3em;
      font-size: 1.3em;
      margin-top: 0%;
  }
  #h-score-sign,
  #c-score-sign {
      margin-top: 10%;
      margin-bottom: 15%;
  }
  .title{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-content: space-between;
  }
  h1 {
      font-size: 2em;
      margin-top: 5%;
  }
  #msg {
      font-size: 1.3em;
  }
}
@media only screen and (max-width: 785px) {
  header{
      margin-top: 2vh;
      height: 20vh
  }
  .title{
      justify-content: center;
  }
  h1 {
      font-size: 1.4em;
  }
  .score {
      justify-content: Center;
      font-size: 1.1em;
      max-width: 14.5%;
  }
  #c-score, #h-score {
      font-size: 1em;
  }
  #dev {
      font-size: .6em;
  }
  #game-items {
      height: 68vh;
  }
  .background {
      height: 88vh;
  }
  #winning-msg {
      width: 70vw;
      left: 15vw;
  }
  #msg-2,
  #msg-3,
  #msg-4,
  #go {
      font-size: 1em;
  }
  #h-score,
  #c-score {
      padding-top: 30%;
  }
  #h-score-sign,
  #c-score-sign {
      padding-top: 20%;
  }
}